/*CSS by Sarah Lewin*/

body {
  width:940px;
  margin:20px auto;
font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  line-height: 1.5em;
  text-align: justify;
  background-color: #dadada; /*f9f9f9*/
  background:url(shattered.png); /* Background pattern from Subtle Patterns: www.toptal.com/designers/subtlepatterns */
}


a:link  {color: #000;}

a:visited {color: #A776D5;}

h1 {
font-family: 'Montserrat', sans-serif;
font-size: 40px;
color: #fff;
line-height: 1.5em;
  margin-bottom:20px;
}

h3 {
	margin-top:5px;
	margin-bottom:5px;
	}

.photoCredit {
	font-size: 11px;
	color: #666;
	text-align: right;
	margin-top: 0px;
}

#wrapper{
width: 900px;
margin: 0 auto;
padding: 5px 20px;
/*background-color: #Fff;*/
box-shadow: 0 4px 96px 4px rgba(0,0,0,0.12);
}
{
border-color: #33194D;
border-radius: 2px;
border-style: solid;
border-width: 5px;}

#wrapper::before,
#wrapper::after {
  content: '';
  display: table;
}

#wrapper::after {
  clear: both;
}

.divider {
  border-bottom:1px solid #444; /*d3d3d3*/
  margin-bottom:15px;
  padding-bottom:15px;  
}

.imgleft{
float: left;
margin-right: 10px;
}

.button {	
	font-size: 15px;
	width: 75px;
	margin: 5px;
	padding: 10px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-radius: 4px;
	display: inline;
	cursor: pointer;
	}
	
.clip {
	background-color: #fff; /*#e6e6e6*/
	font-size: 10px;
	text-align: left;
	margin: 10px;
	width: 275px;
	height: 265px;
	padding: 8px;
	border-radius: 2px;
	line-height: 1.5em;
	float: left;
	cursor: pointer;
	box-shadow: 0 4px 96px 4px rgba(0,0,0,0.15) !important;
	}
	
.dlength{
	height: 566px;
	}
	
.dwidth{
	width: 586px;
	}

.selected {
	background-color: #D9C4ED;
	box-shadow: inset 0px 0px 0.5em;
	}	
	
.hidden {
	display: none;
	}
	
.header{
position:absolute;
left:0;
top:0;
width:100%;
height:100px;
background:#000;
}

.column-left{
	float:left;
	width:300px;
	text-align:left;
	margin-top:10px
	}

.column-right{
	float:right;
	width:300px;
	text-align:right;
	}
	
#blob{
	width:150px;
	display:block;
	margin:auto;
	margin-top:25px;
	}
